Libros/
Notebooks/archive
.DS_Store
__pycache__/
Notebooks/.ipynb_checkpoints
Notebooks/checkpoints_scratch
Notebooks/checkpoints_vgg16
Notebooks/checkpoints_resnet50
Notebooks/checkpoints_inceptionv3
Notebooks/checkpoints_mobilenetv2
Notebooks/checkpoints_custom_cnn
Notebooks/logs_scratch
Notebooks/logs_vgg16
Notebooks/logs_resnet50
Notebooks/logs_inceptionv3
Notebooks/logs_mobilenetv2
Notebooks/logs_custom_cnn
Notebooks/02 - CNN-Cards
.venv/
models/

